<header>
  <h1>Home - Productos</h1>
</header>
<main>
  <section>
    <h3>Productos</h3>
    <div>
      <ul id="productsList"></ul>
    </div>
    <button id="btnRefreshProductsList">Actualizar productos</button>
  </section>
</main>
<script src="/api/public/js/products.js"></script>