.detallesBoton {
  text-decoration: none;
  color: black;
}
.producto {
  border: solid black;
  border-radius: 10px;
  width: 20%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productos {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}
.detallesProducto {
  border: black solid;
  width: 25rem;
}
.tablaProductos {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}
.tdTitulo {
  font-size: 18px;
  font-weight: 600;
}
